.border-circle-square {
  border-style: solid;
  border-width: thin;
  border-radius: 0.5em;
  border-color: #E9E9E9; }

.padding-drop {
  padding-left: -500px; }

.font-size-16 {
  font-size: 16px; }

.textarea-no-resize {
  resize: none; }
